/* your code here */
*{
	background-color:;
}
.product{
	display:flex;
	background-color:;
	
}
.photo-main{
	background-color:yellowgreen;
	width:px
	
}
.photo-album{
	/* background-color:red; */
	display:flex;
	align-items:column;
	
}
.list{
	display:flex;
	justify-items:space-between;
	list-style:none;
	/* list-style-position:inside; */
	gap:20px;	
}
.list2{
	display:flex;
	justify-items:space-between;
	list-style:none;
	gap:20px;	
}
.price{
	color:red;
	font-size:50px;
	text-align:center;
}
.product__info{
	padding:20px;
}
.controls{
	display:flex;
	justify-content:space-between;
	padding:5px;
}
button{
	background-color:red;
	color:whitesmoke;
	border:2px solid yellowgreen;
	padding:5px;
	align-items:center;
}